// trolley
.trolley {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #cbcaca;
  display: flex;
  align-items: center;
  .trolley-icon {
    margin: .1rem;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background-color: #ff6634;
    text-align: center;
    line-height: .9rem;
    position: relative;
    span {
      color: #fff;
      i {
        font-size: .44rem;
      }
    }
    .corner {
      position: absolute;
      right: -4px;
      top: -2px;
      width: .36rem;
      height: .36rem;
      border-radius: 50%;
      background-color: #f69a1b;
      line-height: .38rem;
      color: #fff;
      font-size: 12px;
    }
  }
  .count {
    flex: 1;
    padding: 0 .2rem;
    text-align: left;
    font-size: .24rem;
    span {
      font-size: .32rem;
      color: #ff9057;
    }
  }
  .btn {
    height: 1.1rem;
    padding: 0 .4rem;
    line-height: 1.1rem;
    font-size: .3rem;
    color: #fff;
    background-color: #ff9057;
  }
}
