.container {
  width: 100%;
}

.header {
  background-image: linear-gradient(to right, #ffa658, #ff8556);
  padding: .2rem 0;
}

.search-box {
  width: 100%;
  padding: 0 .2rem;
  &-content {
    height: .6rem;
    border-radius: .3rem;
    background-color: #fff;
    font-size: .26rem;
    color: #999;
    padding: 0 .4rem;
    line-height: .6rem;
    text-align: left;
  }
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.class-container {
  .class-item {
    height: 120px;
    font-size: 40px;
    color: #333;
  }
}
