.container {
  width: 100%;
}

.header-wapper {
  background-image: linear-gradient(to right, #ffa658, #ff8556);
  padding: .2rem 0;
}

.search-box {
  width: 100%;
  padding: 0 .2rem;
  &-content {
    height: .6rem;
    border-radius: .3rem;
    background-color: #fff;
    font-size: .26rem;
    color: #999;
    padding: 0 .4rem;
    line-height: .6rem;
    text-align: left;
    border: 0;
    width: 100%;
    outline: none;
    font-family: 'Microsoft YaHei';
  }
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  transition: all ease .4s;
  padding-bottom: 1.1rem;
}

.page-main {
  position: relative;
}

// 店铺信息
.mall-info {
  &-header {
    display: flex;
    padding: 0 .5rem;
    margin-top: .4rem;
    &-lside {
      width: 1.6rem;
      .logo {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid rgba(255, 255, 255, .6);
      }
    }
    &-rside {
      flex: 1;
      overflow: hidden;
      text-align: left;
      padding: 0 0 0 .3rem;
      .mall-name {
        font-size: .36rem;
        color: #fff;
        font-weight: normal;
        padding: .35rem 0 .1rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
      }
      .mall-desc {
        font-size: .28rem;
        color: #fff;
        word-wrap: break-word;
        line-height: .32rem;
        height: .64rem;
        white-space: nowrap;
        overflow: hidden; // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // display: -webkit-box;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &-notice-wapper {
    display: flex;
    align-items: center;
    padding: .3rem .5rem .1rem;
    .notice-icon {
      width: .6rem;
      color: #fff;
      i {
        font-size: .4rem;
      }
    }
    h3 {
      flex: 1;
      padding: .1rem;
      background-color: rgba(0, 0, 0, .2);
      text-align: left;
      border-radius: 4px;
      color: #fff;
      font-size: .24rem;
      font-weight: normal;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
    }
    .more-icon {
      color: #fff;
      transform: rotateZ(90deg);
      display: block;
      padding: 0 .1rem;
    }
    .opened {
      transform: rotateZ(-90deg);
    }
  }
}

.goods-detail {
  position: fixed;
  z-index: 9999;
}

// 优惠信息
.benefit {
  text-align: left;
  white-space: nowrap;
  overflow-x: scroll;
  background-color: #fff;
  .coupon {
    margin: 10px;
  }
  &-info {
    div {
      display: flex;
      padding: .02rem .3rem;
      overflow: hidden;
      span {
        font-size: .4rem;
        position: relative;
        top: -5px;
      }
      p {
        padding-left: .2rem;
        font-size: .24rem;
        color: #353535;
        text-align: left;
        line-height: .35rem;
      }
    }
  }
}

.benefit-enter-active,
.benefit-leave-active {
  overflow: hidden;
  transition: all .3s linear;
}

.benefit-enter,
.benefit-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

.evaluate {
  max-height: 100vh;
  overflow-y: scroll;
  &-header {
    display: flex;
    align-items: center;
    border-bottom: .2rem solid #efefef;
    padding:.3rem .1rem .4rem;
    &-lside {
      width: 2rem;
      font-size: .24rem;
      color: #333;
      h3 {
        font-weight: normal;
        span {
          font-size: .8rem;
          display: block;
          color: #faa500;
        }
      }
    }
    &-rside {
      padding-top: .2rem;
      .item {
        display: flex;
        align-items: center;
        border-left: 1px solid #ccc;
        .lable {
          font-size: .28rem;
          padding: 4px .2rem;
        }
        .score {
          font-size: .32rem;
          color: #ffaf00;
          padding:0 .1rem;
        }
      }
    }
  }
}

// trolley
.trolley {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  z-index: 100;
  background-color: #fff;
  border-top: 1px solid #cbcaca;
  display: flex;
  align-items: center;
  .trolley-icon {
    margin: .1rem;
  }
  .count {
    flex: 1;
    padding: 0 .2rem;
    text-align: left;
    font-size: .24rem;
    span {
      font-size: .32rem;
      color: #ff9057;
    }
  }
  .btn {
    height: 1.1rem;
    padding: 0 .4rem;
    line-height: 1.1rem;
    font-size: .3rem;
    color: #fff;
    background-color: #ff9057;
  }
}

//抛物线动画元素
.parabola-point {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff8657;
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 99999;
}
